<ul>
	<li><a class="active" href="/">Pollblic</a></li>
	<!--<li><a href="/">Gallery</a></li>-->
</ul>
<div class="pop-up-text" id="popUpMessege">
</div>
<div class="pop-up-btn" id="popUpButton">
</div>