<ul>
	<li><a class="active" href="/">Pollblic</a></li>
	<!--<li><a href="/">Gallery</a></li>-->
</ul>
</div>
<div class="pop-up-text" id="popUpMessege">
</div>
<div class="pop-up-btn" id="popUpButton">
</div>
<div id="photoModal" style='height:80%;width:45%;display:none;'>
	
	<a href='#' rel='modal:close'></a>
</div>