<meta charset="UTF-8">
<title>
    <%= title %>
</title>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/javascript/jquery.modal.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/stylesheets/jquery.modal.css" type="text/css" media="screen" />
<style type="text/css">
    html {
        height: 100%;
    }

    body {
        position: relative;
        height: 100%;
        margin: 0;
        padding-top: 4%;
        overflow: scroll;
    }

    .all-poll-display {
        position: relative;
        height: 90%;
        /* margin: 0;
        padding: 0; */
    }

    .single-poll-preview {
        position: relative;
        /* height: 20%; */
        /* width: 20%; */
        border: 1px lightgray solid;
        border-radius: 10px;
        top: 20px;
        left: 40px;
        margin: 5px;
        padding: 5px;
        float: left;
        overflow: scroll
    }

    .single-poll-preview table {
        /* position:relative;
        height: 100%; */
    }

    .single-poll-preview:hover {
        background-color: #DCDCDC;
        cursor: pointer;
        box-shadow: 10px 10px 5px #888888;
    }

    .single-poll-preview:hover table,
    .single-poll-preview:hover td{
        border: 1px solid #666666;
    }

    .single-poll-display {
        position: relative;
        height: 90%;
        width: 70%;
        margin-top: 20px;
        margin-left: 20px;
        float: left;
        overflow: scroll;
    }

    .interaction-menu {
        position: relative;
        height: 90%;
        width: 27%;
        margin-top: 20px;
        margin-left: 20px;
        float: left;
        overflow: scroll;
        border-left: 2px solid grey;
        padding-left: 10px;
    }

    .new-poll-display {
        position: relative;
        height: 90%;
        margin: 20px;
    }
</style>
<!-- Pop-up -->
<style type="text/css">
    .pop-up-text {
        /*visibility: visible;*/
        display: none;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        right: 1%;
        top: 20%;
    }
    /* Popup arrow */

    .pop-up-text::after {
        content: "";
        position: absolute;
        left: 100%;
        top: 30%;
        /*margin-left: -5px;*/
        border-width: 7px;
        border-style: solid;
        border-color: transparent transparent transparent #555;
    }
    /* Popup button */

    .pop-up-btn {
        -webkit-border-radius: 12;
        -moz-border-radius: 12;
        border-radius: 12px;
        -webkit-box-shadow: 0px 1px 3px #666666;
        -moz-box-shadow: 0px 1px 3px #666666;
        box-shadow: 0px 1px 3px #666666;
        font-family: Arial;
        color: #544e54;
        font-size: 20px;
        background: #afb2b3;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        display: none;
        position: absolute;
        z-index: 1;
        left: 1%;
        top: 20%;
    }

    .pop-up-btn:hover {
        background: #e0e0e0;
        text-decoration: none;
    }
</style>
<!-- nav bar -->
<style type="text/css">
    .topnav {
        overflow: hidden;
        border-bottom: 2px solid #cfcfcf;
        background-color: #fcfcfc;
        position: fixed;
        /* margin: 0;
        padding: 0; */
        top: 0;
        z-index: 2;
        width: 100%;
    }

    .topnav a {
        float: left;
        display: block;
        color: #337ab7;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: large;
        /* width: 100px; */
    }

    .topnav a:hover {
        background-color: #ddd;
        color: #23527c;
    }

    .topnav a:hover:not(.active) {
        background-color: #ddd;
    }

    .topnav a.active {
        background-color: #cfcfcf;
    }
</style>
<!-- search bar -->
<style type="text/css">
    .searchnav {
        overflow: hidden;
        border-bottom: 1px solid #cfcfcf;
        background-color: #fcfcfc;
        position: fixed;
        /* margin: 0;
        padding: 0;
        top: 0; */
        z-index: 1;
        width: 100%;
    }

    .search-option {
        display: inline-block;
        margin: 0 30px 10px 20px;
    }
</style>