<div class="topnav">
	<a class="active" href="/">Main Page</a>
	<a href="/search">Search</a>
	<!-- <a href="#"></a> -->
	<!-- <a href="#"></a> -->
  </div>
<div class="pop-up-text" id="popUpMessege">
</div>
<div class="pop-up-btn" id="popUpButton">
</div>