<% layout('layout_html') -%>
<div class="poll-layout">
	<% if( pollRecordList.length > 0 ) { %>
		<% for( var i = 0 ; i < pollRecordList.length ; i++ ) { %>
			<div id="<%= pollRecordList[i].id %>" class="poll-div">

			</div>
		<% } %>
	<% } else { %>
		<p>There are currently no on-going polls.</p>
	<% } %>
    <button id="newPoll-button">Create New Poll</button>
</div>