<% layout('layout_html') -%>
<div class="poll-layout">
	<form action="/newPoll" method="POST" accept-charset="utf-8">
		Title: <input type="text" name="title"><br>
		Duration: <input type="number" name='duration' min="0"> days<br>
		Number of Questions: <input type="number" name="numberOfQuestion" min="1"><br>
		Reward per Answer: <input type="number" name="price" min="1"> ether<br>
		Total Answer Needed: <input type="number" name="totalNeeded" min="1"><br>
		Payment Lock Time: <input type="number" name="paymentLockTime" min="0"> minutes<br>
		Encrypt or not: <input type="radio" name="ifEncrypt" value="yes">Yes <input type="radio" name="ifEncrypt" value="no" checked>No<br>
		<div id="encryptionKey">Encryption Key: <input type="text" name="encryptionKey"><br></div>
		<input type="button" value="Create" onclick='newPoll(this.form)'>
	</form>
</div>
<script>

    function newPoll(thisForm) {
        var formNewPoll = $(thisForm);
        // console.log(thisForm);
        // console.log(formNewPoll.find('input[name="title"]').val());
        // console.log(formNewPoll.find('input[name="reason"]').val());
 
        $.ajax({
            type:   formNewPoll.attr('method'),
            url:    formNewPoll.attr('action'),
            data:   formNewPoll.serialize(),
            success: function (res) {
                var popUpMessege = $('#popUpMessege');
                popUpMessege.text(res);
                popUpMessege.fadeIn(1000);

                setTimeout( function() {
                    $('#popUpMessege').fadeOut(2000);
                }, 1000);
                setTimeout(function() {
                    location.href = "/";
                }, 2000);
            }
        });
    }

    $(document).ready(function(){
        $('#encryptionKey').toggle();
        $('input:radio[name="ifEncrypt"]').change(function(){
            $('#encryptionKey').toggle();
        });
        
    });
</script>