<% layout('layout_html') -%>
<div class="new-poll-display">
    <form action="/newPoll" method="POST" accept-charset="utf-8">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><b>Title</b></td>
                    <td>
                        <input type="text" name="title">
                    </td>
                </tr>
                <tr>
                    <td><b>Duration</b></td>
                    <td>
                        <input type="number" name='duration' min="0"> days
                    </td>
                </tr>
                <tr>
                    <td><b>Number of quiestion</b></td>
                    <td>
                        <input type="number" name="numberOfQuestion" min="1">
                    </td>
                </tr>
                <tr>
                    <td><b>Reward per Answer</b></td>
                    <td>
                        <input type="number" name="price" min="1"> ether
                    </td>
                </tr>
                <tr>
                    <td><b>Total Answer Needed</b></td>
                    <td>
                        <input type="number" name="totalNeeded" min="1">
                    </td>
                </tr>
                <tr>
                    <td><b>Payment Lock Time</b></td>
                    <td>
                        <input type="number" name="paymentLockTime" min="0"> minutes
                    </td>
                </tr>
                <tr>
                    <td><b>Encrypt or not</b></td>
                    <td>
                        <input type="radio" name="ifEncrypt" value="yes">Yes <input type="radio" name="ifEncrypt" value="no" checked>No
                    </td>
                </tr>
                <tr id="encryptionKey">
                    <td><b>Encryption Key</b></td>
                    <td>
                        <input type="text" name="encryptionKey">
                    </td>
                </tr>
            </tbody>
        </table>
		<input type="button" value="Create" onclick='newPoll(this.form)'>
	</form>
</div>
<script>

    function newPoll(thisForm) {
        var formNewPoll = $(thisForm);
        // console.log(thisForm);
        // console.log(formNewPoll.find('input[name="title"]').val());
        // console.log(formNewPoll.find('input[name="reason"]').val());
 
        $.ajax({
            type:   formNewPoll.attr('method'),
            url:    formNewPoll.attr('action'),
            data:   formNewPoll.serialize(),
            success: function (res) {
                var popUpMessege = $('#popUpMessege');
                popUpMessege.text(res);
                popUpMessege.fadeIn(1000);

                setTimeout( function() {
                    $('#popUpMessege').fadeOut(2000);
                }, 1000);
                setTimeout(function() {
                    location.href = "/";
                }, 2000);
            }
        });
    }

    $(document).ready(function(){
        $('#encryptionKey').toggle();
        $('input:radio[name="ifEncrypt"]').change(function(){
            $('#encryptionKey').toggle();
        });
        
    });
</script>