<% layout('layout_html') -%>
<div class="searchnav">
	<form action="/search" method="GET" accept-charset="utf-8">
		<div class="search-option">
			Search polls by title: <input type="text" name="title"> or by address of the owner: <input type="text" name="owner">
			<br><input type="submit" value="submit">
		</div>
		<div class="search-option">
			Search user records by address: <input type="text" name="user">
			<br><input type="submit" value="submit">
		</div>
	</form>
</div>
<div class="all-poll-display" style="top: 65px;">
	<% if( pollRecordList.length > 0 ) { %>
		<% for( var i = 0 ; i < pollRecordList.length ; i++ ) { %>
			<div id="poll-<%= pollRecordList[i].id %>" class="single-poll-preview table-responsive">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td><b>Status</b></td>
							<td>
								<% if( pollRecordList[i].ifOpen ) { %> Open
									<% } else { %> Closed
										<% } %>
							</td>
						</tr>
						<tr>
							<td><b>Title</b></td>
							<td>
								<%= pollRecordList[i].title %>
							</td>
						</tr>
						<tr>
							<td><b>Owner</b></td>
							<td>
								<%= pollRecordList[i].owner %>
							</td>
						</tr>
						<tr>
							<td colspan="2"><a href="/poll?id=<%= pollRecordList[i].id %>"><button>View Poll</button></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		<% } %>
	<% } else { %>
		<p>There are currently no related polls.</p>
	<% } %>
</div>
<div style="margin-left: 10px; clear: both;">
	<button id="newPoll-button">Create New Poll</button>
</div>
<script>
	$(document).ready(function () {
		$('#newPoll-button').click(function () {
			location.href = "/newPoll";
		});
		$('.single-poll-preview').click(function (e) {
			var modalID = '#modal-' + $(this).attr('id').substr(5);
			$(modalID).modal();
		});

	});
</script>