<meta charset="UTF-8">
<title><%= title %></title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<!-- <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/javascript/jquery.modal.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/stylesheets/jquery.modal.css" type="text/css" media="screen" /> -->