<% layout('layout_html') -%>
	<h1>
		<a href="/">Drug Supply Chain System Demonstration</a>
	</h1>
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Drug Name</th>
					<th>Manufacturer</th>
					<th>Amount</th>
					<th>Manufactured Date</th>
					<th>Expiration Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<form action="/addNewDrug" method="post">
					<td>
						<input type="text" name="name" size="10" required>
					</td>
					<td>
						<select name="owner">
							<option selected value="<%= drugManufacturerList[0] %>">Manufacturer 1</option>
							<option value="<%= drugManufacturerList[1] %>">Manufacturer 2</option>
							<option value="<%= drugManufacturerList[2] %>">Manufacturer 3</option>
						</select>
					</td>
					<td>
						<input type="number" name="amount" min="1" size="2"  required>
					</td>
					<td>
						<input type="date" name="manuDate" size="15"  required>
					</td>
					<td>
						<input type="date" name="expDate" size="15"  required>
					</td>
					<td>
						<input type="submit" value="Submit"  required>
					</td>
				</form>
			</tbody>
		</table>
	</div>
	<% if(debugMsg == "Contract not yet deployed!") { %>
		<a href="/deploy" class="btn btn-primary">Deploy</a>
	<% } else { %>
		<div>
			<form action="/getDrugByName" method="GET">
				Drug Name:
				<input type="text" name="name">
				<input type="submit" value="Search" class="btn btn-primary">
			</form>
		</div>
	<% } %>
	<br>
	<h3>
		<font color="red">
			<%= debugMsg %>
		</font>
	</h3>
